body{
    background-color: black;
    color: wheat;
}
pytanie{
    
}
header{
    background-color: darkolivegreen;
    text-align: center;
    color: yellow;
    height: 70px;
    vertical-align:middle;
}
input{
    color: antiquewhite;
    background-color: grey;
    font-size: 25;
}
p{
    
}
question{
    align-content: center;
}